%table{:class=>"table table-striped table-condensed table-matches"}
  %thead
    %tr
      %th{:colspan=>"2"}Hero
      %th Result
      %th Type
      %th Duration
      %th KDA
  %tbody
    - @matches.each do |match|
      %tr
        %td
          =image_tag match.player_by_user(@user).hero.picture_url, :style=>'width:43px;height:24px;'
        %td
          =link_to match.player_by_user(@user).hero.localized_name, match
        %td
          - if match.player_by_user(@user).win?
            <span class="label label-success">Won Match</span>
          - else
            <span class="label label-danger">Lost Match</span>
        %td
          =match.lobby ? match.lobby.name : ""
        %td
          =duration_format match.duration
        %td
          =match.player_by_user(@user).kills
          \/
          =match.player_by_user(@user).deaths
          \/
          =match.player_by_user(@user).assists

=paginate @matches