.row
  .col-md-6
    .media
      .media-left
        =image_tag @user.image_url
      .media-body
        %h4.media-heading
          =@user.nickname

  .col-md-6
    %table{:class=>"table table-striped table-condensed"}
      %thead
        %tr
          %th= t('table.last_match')
          %th= t('table.record')
          %th= t('table.win_rate')
      %tbody
        %tr
          %td
            =l @user.all_matches.order(:id => :desc).first.end_time, :format => :long
          %td
            %span{:class => "text-success"}
              =@user.win_matches.count
            \-
            %span{:class => "text-danger"}
              =@user.lose_matches.count
          %td
            =win_rate_format @user.win_rate(@user.all_matches)
