// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  .panel-match-overview {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .panel-team-table{
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .panel-title{
      text-transform: uppercase;
    }
  }
  .h-victory-team{
    text-align: center;
    text-transform: uppercase;
  }
}
.pagination{
  margin: 0 0 20px 20px;
}
.right-column{
  .table tr:first-child th:first-child { width: 142px; }
}
.table-matches{
  tbody tr:first-child td:first-child { width: 55px; }
}