// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  .panel-match-overview {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .panel-team-table{
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .panel-title{
      text-transform: uppercase;
    }
  }
  .h-victory-team{
    text-align: center;
    text-transform: uppercase;
  }
  .table{
    .help-block{
      margin:0;
      color:rgba(255,255,255,0.6);
      font-size:11px;
    }
    img{
      height: 24px;
    }
  }
  .table-builds{
    tr:first-child th:first-child {
      border-right:2px #464545 solid;
    }
    tr td:first-child {
      border-right:2px #464545 solid;
    }
    td,th{
      text-align: center;
      img{
        height:33px;
      }
    }
  }
}
.pagination{
  margin: 20px 0 20px 20px;
}
.right-column{
  .table tr:first-child th:first-child { width: 142px; }
}
.table-matches{
  tbody tr:first-child td:first-child { width: 55px; }
}
.panel-team-table{
  .table tbody tr:first-child td:first-child { width: 55px; }
}
.dire_color{
  color: #C23C2A;
}
.radiant_color{
  color: #92A525;
}
a{
  color:#A9CF54;
  text-decoration: none!important;
  &:hover{
    color:#A9CF54;
    text-decoration: underline!important;
  }
}
acronym {
  border-bottom: 1px dashed white; /* Подчеркивание текста */
  cursor: default;
}